/* Text Sizing: rem and px */
html {
    font-size: 10px;
    font-family: cursive;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

/* Text-torture: transform, shadow, align, etc. */
h1 {
    text-transform: uppercase;
    text-shadow: 2px 2px 0 #84fb84;
}
h1, h2, h3 {
    text-align: center;
}
p {
    line-height: 1.5;
    white-space: pre-wrap;
}
